<h1 class="page-header">Add Songs Index - Homepage?</h1>

<%# Link to send user to their playlists index %>
<%= link_to  "My Playlists", playlists_path %>

<br>
<br>
<%= form_tag add_songs_path, method: "get", html: { class: "form" } do %>
 <div class="form-group col-xs-4">
   <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control") %>
 </div>
 <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<br>

<% if params[:artist_name].present? %>
  <h1>Search Results</h1>
  <% results = RSpotify::Artist.search("#{params[:artist_name]}") %>
   
  <ol>
  <% results.take(3).each do |artist|%>
  <li><strong>Artist:<br>
  <%= link_to "#{artist.name}", artist_path(artist.id) %></strong></li
  <br>
    <ol>
      <% artist.albums.take(3).uniq.each do |album| %>
        <li><strong>Album:<br>
        <%= link_to  "#{album.name}", album_path(album.id) %></strong></li>
        <ol>
          <% album.tracks.uniq.each do |track| %>
            <li><%= track.name %></li>
              <%= form_for @add_song do |f| %>
                <%= f.collection_select :playlist_id, Playlist.all, :id, :title %>
                <%= f.hidden_field :track_id, :value => track.id %>
                <%= f.hidden_field :album_id, :value => track.album.id %>
                <%= f.hidden_field :artist_id, :value => track.artists[0].id %>
                <%= f.hidden_field :artist_name, :value => track.artists[0].name %>
                <%= f.hidden_field :album_name, :value => track.album.name %>
                <%= f.hidden_field :track_name, :value => track.name %>
                <%= f.submit :class => "btn-btn-primary"%>
              <% end %>
          <% end %>
        </ol>
      <% end %>
    </ol>
  <% end %>
  </ol>
<% end %>
