<h1 class="page-header">Add Songs Index - Homepage?</h1>

<%# Link to send user to their playlists index %>
<%= link_to  "My Playlists", playlists_path %>

<%# dropdown for choosing a playlist to add songs to %>
<%= form_for @add_song do |f| %>
  <%= f.collection_select :playlist_id, Playlist.all, :id, :title %>
  <%= f.submit 'Add Songs to Playlist' %>
<% end %>
<br>
<br>
<%= form_tag add_songs_path, method: "get", html: { class: "form" } do %>
 <div class="form-group col-xs-4">
   <%= text_field_tag(:artist_name, "", placeholder: "Enter artist name", class: "form-control") %>
 </div>
 <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<br>

<% if params[:artist_name].present? %>
  <h1>Search Results</h1>
  <% results = RSpotify::Artist.search("#{params[:artist_name]}") %>
   
  <ol>
  <% results.each do |artist|%>
  <li><strong>Artist:<br>
  <%= link_to "#{artist.name}", artist_path(artist.id) %></strong></li>

  <br>
    <ol>
      <% artist.albums.uniq.each do |album| %>
        <li><strong>Album:<br>
        <%= link_to  "#{album.name}", album_path(album.id) %></strong></li>
        <ol>
          <% album.tracks.uniq.each do |track| %>
            <li><%= check_box_tag('track', 'no', false) %><%= track.name %></li>
            <%= button_to "Add Song", {:controller => :add_songs,
      :action => 'create', :track_id => track.id, :album_id => track.album.id, :artist_id => track.artists[0].id, :artist_name => track.artists[0].name, :album_name => track.album.name, :track_name => track.name, :playlist_id => 41 }, :method => :post %>
          <% end %>
        </ol>
      <% end %>
    </ol>
  <% end %>
  </ol>
<% end %>
  
selected_songs = 

<< selected_songs
