<p>This is the Artist Show Page</p>

<%= link_to  "Back to Add Songs", add_songs_path %>

<h1><%= @artist.name %></h1>

<% @artist.genres.each do |genre| %>
    <p><%= genre %> </p>
<% end %>

<img src="<%= @artist.images[0]["url"] %>" alt="A picture of the beatles" style="width:200px; height:200px;">

<h3>The Beatles Albums</h3>
    <% @artist.albums.each do |album|%>
        <p><%= link_to  "#{album.name}", album_path(album.id) %></p>
        <p><%= album.release_date %></p>
    <% end %>
