<%= button_to "My Playlists", {:controller => :playlists, :action => 'index'}, method: :get, class:"btn btn-outline-light playlist-show-side-btns" %>

<div class="album-show-container">
<h1><%= @album.name %></h1>

<img src="<%= @album.images[0]["url"] %>" alt="Album Cover", style="width:200px; height:200px;">
    <ol>
        <% @album.tracks.each do |track| %>
            <li class="track-name"><%= track.name %> | <%=Time.at(track.duration_ms/1000).utc.strftime("%M:%S")%></li>

            <%= button_to "Add Song", 
            {
              :controller => :add_songs,
              :action => 'create',
              :track_id => track.id,
              :album_id => track.album.id,
              :artist_id => track.artists[0].id,
              :artist_name => track.artists[0].name,
              :album_name => track.album.name, :track_name => track.name,
              :playlist_id => 41 },
              
              :method => :post %>
        <% end %>
    </ol>
</div>
