<%= link_to  "Back to #{@album.artists[0].name}", artist_path(@album.artists[0].id) %>

<p>This is the Album Show Page</p>

<h1><%= @album.name %></h1>

<img src="<%= @album.images[0]["url"] %>" alt="Beatles Album Cover", style="width:200px; height:200px;">

<h3>Songs on this Album</h3>
    <ol>
        <% @album.tracks.each do |track|%>
            <li><%= track.name %> | <%=Time.at(track.duration_ms/1000).utc.strftime("%M:%S")%></li>
        <% end %>
    </ol>

