<h1><%= @playlist.title %></h1>

<ul>
    <% @playlist.tracks.each do |track| %>
        <li><%= track.name %></li>
        <%= form_for @add_song do |f| %>
        <%= f.hidden_field :track.add_songs %>
        <%= f.submit "Delete From Playlist", disable_with: 'Submiting...' %>
        <% end %>
    <% end %>
</ul>
