
<!-- div class="container" -->
<!-- h1 class="jumbotron">Playlister</h1 -->
<!-- /div -->



<div class="container">
    <div class="jumbotron">

    <h1>Playlister</h1>
<br>
<br>

    <h3>Make a New Playlist</h3>
    <%= form_for @playlist do |f| %>
        <%= f.label :title, "Playlist Name:" %>
        <%= f.text_field :title %>
        <%= f.submit "Submit", disable_with: 'Submiting...' %>
    <% end%>
    <br>
    <p><%= link_to  "Edit My Playlists", playlists_path %></p><br>
    </div>
</div>

  