<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
    <p><%= error %></p>
    <% end %>
<% end %>


<div class="create-playlist-form">
<h1 class="add-songs-header">Create a Playlist</h1>
<br/>
<%= form_for @playlist do |f| %>
    <%= f.label :title, 'Title:' %>
    <%= f.text_field :title %><br>
    <br>
    <%= f.submit :Submit, class:"btn btn-outline-light" %>    
<% end %>
</div>

<%= button_to "Back to Playlists", {:controller => :playlists, :action => 'index'}, method: :get, class:"btn btn-outline-light playlist-new-back-btn" %>



