<h1><%= @playlist.title %></h1>

<ul>
    <% @playlist.tracks.each do |track| %>
        <li><% track.name %></li> 
    <% end %>
</ul>

<%# deleting this playlist %>
<%= button_to "Delete This Playlist", {:controller => :playlists,
      :action => 'destroy', :id => @playlist.id }, :method => :delete %>

<%# editing this playlist %>
<%= button_to "Edit This Playlist", {:controller => :playlists,
      :action => 'edit', :id => @playlist.id }, :method => :get %>
<%# button to add songs to this playlist %>
<%= button_to "ADD SONGS", add_songs_path, method: :get %>

<%# button to my playlists %>
<%= button_to "My Playlists", playlists_path, method: :get %>
#add ability to play songs