<div class="container"> 
    <h1 class="jumbotron"><%= @playlist.title %></h1>
</div>
<div class="container">
    <ul>
        <% @playlist.tracks.each do |track| %>
            <li><%= track.name %></li> 
        <% end %>
    </ul>
</div>
<%# deleting this playlist %>

<div class='delete'>
<%= button_to "Delete This Playlist", {:controller => :playlists,
      :action => 'destroy', :id => @playlist.id },  :method => :delete %>
</div>

<%# editing this playlist %>
<%= button_to "Edit This Playlist", {:controller => :playlists,
      :action => 'edit', :id => @playlist.id }, :method => :get %>

<%# button to add songs to this playlist %>
<%= button_to "Add Songs",{:controller => :add_songs, :action => 'new', :playlist_id => @playlist.id},  :method => :get %>

<%# button to my playlists %>
<%= button_to "My Playlists", {:controller => :playlists, :action => 'index'}, method: :get %>
